.wtn-modal-signin:hover {
    cursor: pointer;
}

.cd-close-nav:hover {
    cursor: pointer;
}

.wtn-modal-signup:hover {
    cursor: pointer;
}

.cd-nav {
    position: relative;
    top: 40px;
}

.cd-close-nav{
    position: relative;
    top: 5px;
    left: 1400px;
}