<div class="row">
    <div class="col-xs-12">
        <ul class="largenav dark">
            <li class="category-links ptop"><a [routerLink]="['trending']" class="links">Trending</a></li>
            <li class="category-links ptop"><a [routerLink]="['topics']" class="links">Topics</a></li>
            <li class="category-links ptop"><a [routerLink]="['politics']" class="links">Politics</a></li>
            <li class="category-links ptop"><a [routerLink]="['people']" class="links">People</a></li>
            <li class="category-links ptop"><a [routerLink]="['saved']" class="links">Saved</a></li>
        </ul>

        <p class=" text-center footer-text">© 2017 | What's The Narrative?</p>
    </div>
</div>