<ul class="wtn-quickview-items wtn-quickview-container">
	<li *ngFor="let story of stories" id="container-{{story.id}}" class="wtn-quickview-item">
		<img src={{story.media[0].url}} alt="Item Preview">
		<a class="wtn-quickview-trigger">View Article</a>
	</li>
	<!-- wtn-quickview-item -->
</ul>
<!-- wtn-quickview-items -->

<div class="wtn-quickview-quick-view" id="{{story.id}}" *ngFor="let story of stories">
	<div class="wtn-quickview-slider-wrapper">
		<ul class="wtn-quickview-slider">
			<li class="wtn-quickview-selected"><img src={{story.media[0].url}}></li>
		</ul>
		<!-- wtn-quickview-slider -->
	</div>
	<!-- wtn-quickview-slider-wrapper -->

	<div class="wtn-quickview-item-info">
		<h2>{{story.title}}</h2>
		<br>
		<h3>Written By: {{story.author.name}}</h3>
		<p>{{story.summary.sentences[0]}}{{story.summary.sentences[1]}}</p>
		<ul class="wtn-quickview-item-action">
			<li><a class="stories-read-full-article" href="{{story.links.permalink}}" target="_blank">View Full Article</a></li>

			<li *ngIf="authenicationControl.isTheUserAuthenicated()">
				<button class="btn btn-primary save-article-button" 
						[attr.picture]="story.media[0].url"
						[attr.id]="story.id"
						[attr.author]="story.author.name"
						[attr.summarypartone]="story.summary.sentences[0]"
						[attr.summaryparttwo]="story.summary.sentences[1]"
						[attr.link]="story.links.permalink"
						[attr.title]="story.title"
						(click)="saveArticle($event.target.attributes)">
						Save Article
				</button>
			</li>
		</ul>
		<!-- wtn-quickview-item-action -->
	</div>
	<!-- wtn-quickview-item-info -->
	<a class="wtn-quickview-close">Close</a>
</div>

<!-- wtn-quickview-quick-view -->