<div class="row">
    <div class="cd-title no-border">

        <img class="logo-desktop home-image" src="assets/img/WTNh100.png" />
        <img class="logo-mobile home-image" src="assets/img/WTNh80.png" />

        <h2 class="dark-text home-text">About</h2>
    </div>


    <div class="cd-content cd-content-less-padding">
        <p class="copy-p">
            What's The Narrative is a tailored news search, designed and developed by recent graduates of The University of Central Florida's Full Stack Web Coding Boot Camp. </p> 

            <p class="copy-p">Scott May, Michael Mulchrone, and Bob Dempsey envisioned an approach to news that challenged traditional approaches. What's The Narrative combines the latest stories from around the world, but with an additional twist. After visitors complete a short questionnaire, they're given news that maybe they wouldn't see on a daily basis. Visitors are prompted with news that they perhaps haven't considered, or maybe challenges their assumptions directly.
        </p>

       <p class="copy-p"> It is the mission of What's The Narrative to present both sides of the conversation, while pushing on reader's personal assumptions and beliefs. We hope to expose reader's to more viewpoints than their own.
        </p>

       <p class="copy-p padding-bottom-10">
       We welcome all feedback. Feel free to browse, create an account, or contact us.
        </p>
       <p></p>
    </div>
</div>