<div class="row">
    <div class="col-xs-12">
        <ul class="largenav dark">
            <li class="category-links ptop"><a class="links" href="#">Trending</a></li>
            <li class="category-links ptop"><a class="links" href="#">Topics</a></li>
            <li class="category-links ptop"><a class="links" href="#">Politics</a></li>
            <li class="category-links ptop"><a class="links" href="#">People</a></li>
            <li class="category-links ptop"><a class="links" href="#">Subscriptions</a></li>
        </ul>

        <p class=" text-center footer-text">© 2017 | What's The Narrative?</p>
    </div>
</div>