<div class="row">
    <div class="cd-title no-border">

        <img class="logo-desktop home-image" src="assets/img/WTNh100.png" />
        <img class="logo-mobile home-image" src="assets/img/WTNh80.png" />

        <h2 class="dark-text home-text">Team</h2>
    </div>


    <div class="cd-content">
        <div class="row text-center">
            <h1 class="team-h1">Mike Mulchrone</h1>
            <img class="team-photo" src="https://res.cloudinary.com/dqukwohgi/image/upload/v1473924630/mm-favicon_imhoo7.jpg" />
            <p class="copy-p team-p">
                I'm Full-Stack Web Developer, originally from the Chicago-land area, and a recent graduate of The UCF Coding Bootcamp. Given a reasonable amount of time, I'm comfortable picking up any language or technology thrown my way. I thoroughly enjoy what I do for a living, and I'm excited to see where my career takes me. Outside of technology, I love live music! Heavy Metal to Electronic, you name it, let's go to a show! Special thanks to my friends and family who have been incredibly supportive on my journey towards becoming a professional developer.
            </p>
        </div>

                <div class="row text-center">
            <h1 class="team-h1">Scott May</h1>
            <img class="team-photo" src="assets/img/scott.jpg" />
          <p class="copy-p team-p">
                I'm a Florida native with an interest in javaScript, web security, and full stack web development. I'm also a recent graduate of the UCF Coding Bootcamp. On my free time I  
            </p>
        </div>

                <div class="row text-center">
            <h1 class="team-h1">Bob Dempsey</h1>
            <img class="team-photo" src="assets/img/bobpic.jpg" />
            <p class="copy-p team-p">
                I'm a lover of electronic music, italian food, the beach, friends, and family. Also a recent graduate of The UCF Coding Bootcamp, I've developed a passion for fluid front end design and development. I make sure to keep up on all the latest technology and communication trends, and look forward to my career as a full stack web developer.
            </p>
        </div>

    </div>
</div>