<div class="row">
    <div class="cd-title no-border">

        <img class="logo-desktop home-image" src="assets/img/WTNh100.png" />
        <img class="logo-mobile home-image" src="assets/img/WTNh80.png" />

        <h2 class="dark-text home-text">Team</h2>
    </div>


    <div class="cd-content">
        <div class="text-center">
            <h1>Mike Mulchrone</h1>
            <img class="team-photo" src="https://res.cloudinary.com/dqukwohgi/image/upload/v1473924630/mm-favicon_imhoo7.jpg" />
            <p>
                I'm Full-Stack Web Developer originally from the Chicago-land area, who has recently completed the UCF Coding Bootcamp. Given a reasonable amount of time I am comfortable picking up any language or technology thrown my way. I thoroughly enjoy what I do for a living and am excited to see where my career will take me. Outside of technology I love live music! Heavy Metal to Electronic you name it, let's go to a show! Special thanks to my friends and family who have been incredibly supportive of me on my journey in becoming a professional developer.   
            </p>
        </div>
    </div>
</div>