.question-index {
    padding: 10px 0;
    font-family: 'Roboto', sans-serif;
}
.question {
    font-size: 25px;
    border: 2px solid lightseagreen;
    border-radius: 6px;
    padding: 5px;
    margin: 0 0 5 0;
    background: lightgray;
}
.option {
    padding: 10px 20px;
    margin: 5px 0px;
    cursor: pointer;
    border: 2px solid lightseagreen;
    border-radius: 6px;
    background: #fff;
}

.option.active {
    background: #34a9ce;
    color: #fff;
    font-weight: bold;
}
.navigation {
    margin-top: 10px;
    padding-bottom: 40px;
}
.navigation > button {
    padding: 10px 8px;
    border: 1px solid lightslategray;
    border-radius: 6px;
    background: #34a9ce;
    color: #fff;
    cursor: pointer;
    outline: none;
}