/* You can add global styles to this file, and also import other style files */
my-app {
  min-height: 100%;
  width: 100%;
}

a:hover {
    cursor: pointer;
}

.stories-read-full-article{
    position: relative;
    left: 20px;
}

.cd-title {
    position: relative;
    background-color: #333545;
    position: relative;
    top: 80px;
}

.cd-section{
    position: relative;
    width: 100%;
}

.home-image {
    position: relative;
    left: 425px;
    top: 10px;
}

.home-text {
  position: relative;
  top: -5px;
}

#footer {
    background-color: #333545;
    height: 120px;
    z-index: 0;
}







