.lefttwitter {
    border-style: solid;
    border-color: darkred;
    border-width: 5px;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 25px;
}

.leftname {
font-size: 17px;
color: darkblue;
margin-left: 10px;
margin-bottom: 20px;
}

.leftprofilepic {
border-radius: 8px; 
height: 75px;
width: 75px;
}

.lefttweet {
font-family: 'Roboto', sans-serif;
font-size:15px;
color: black;
padding-bottom: 10px;

/*font-family: 'Macondo', cursive;*/
}

.leftcreated {
    color: black;

}