<div class="row">
    <div class="col-xs-12">
        <ul class="largenav text-center">
            <li class="category-links"><a [routerLink]="['trending']" class="links">Trending</a></li>
            <li class="category-links"><a [routerLink]="['politics']" class="links">Politics</a></li>
            <li class="category-links"><a [routerLink]="['people']" class="links">People</a></li>
            <li class="category-links"><a [routerLink]="['money']" class="links">Money</a></li>
            <li class="category-links"><a [routerLink]="['health']" class="links">Health</a></li>
            <li class="category-links"><a class="links" [routerLink]="['saved']">Saved</a></li>
        </ul>
    </div>
</div>

<div class="row">
    <!-- search news h1 row -->

    <div class="col-xs-12">
        <h1 class="text-center">SEARCH NEWS AND CONTENT IN REAL TIME</h1>
    </div>
    <!-- search news h1 col -->
</div>
<!-- /.search news h1 row -->

<br>


<div class="row">
    <!-- /.search input row-->

    <div class="col-lg-8 col-lg-offset-2">
        <!-- /.search input col-->

        <div class="input-group">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Search <span class="caret"></span></button>
                <ul class="dropdown-menu">

                    <li><a href="#">Right Wing Tweets</a></li>
                    <li><a href="#">Left Wing Tweets</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a [routerLink]="['register']">Create FREE Account</a></li>
                </ul>
            </div>
            <!-- /btn-group -->
            <input type="text" [(ngModel)]="userInputSearchTerm" class="form-control"><button class="btn btn-primary" (click)="toggleUserSearch()">Search</button>
        </div>
        <!-- /input-group -->
    </div>
    <!-- /.search input col-->
</div>
<!-- /.search input row-->