<div class="row">
    <div class="cd-title no-border">

        <img class="logo-desktop home-image" src="assets/img/WTNh100.png" />
        <img class="logo-mobile home-image" src="assets/img/WTNh80.png" />

        <h2 class="dark-text">A Tailored News Search</h2>
    </div>

    <div class="cd-content">
<a [routerLink]="['register']">Register Test</a>
            <br>
            <br>
            <br>
            <br>
            <!--LOGIN AND REGISTER COMPONENTS-->
            <!--<login></login>-->
            <!--<register></register>-->
            <!--TWITTER FEED COMPONENTS-->
            <div class="row">
  <div class="col-md-1">                   </div>
                
  <div class="col-md-3"><lw-feed></lw-feed></div>
  <div class="col-md-4">                   </div>
  <div class="col-md-3"><rw-feed></rw-feed></div>
  <div class="col-md-1">               </div>
</div>


   