<main>
    <section class="cd-section index cd-selected">
        <header>
            <div class="cd-title no-border">


                <a href="http://codyhouse.co/?p=667">
                    <span>
							<!-- <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" style="enable-background:new 0 0 16 16;" xml:space="preserve">
								<polygon fill="#FFFFFF" points="15,7 4.4,7 8.4,3 7,1.6 0.6,8 0.6,8 0.6,8 7,14.4 8.4,13 4.4,9 15,9 "/>
							</svg> -->
                                   <img class="logo-desktop" src="assets/img/WTNh100.png"/>
							</span><img class="logo-mobile" src="assets/img/WTNh80.png" />
                    <!-- Article &amp; Download -->
                </a>
                <h2 class="dark-text">A Tailored News Search</h2>
            </div>
            <!-- .cd-title -->


        </header>

        <div class="cd-content">
            <a [routerLink]="['register']">CLLLLLLLLLLLLLLLLLLLLLLLLL</a>
            <!--LOGIN AND REGISTER COMPONENTS-->
            <login></login>
            <!--<register></register>-->
            <!--TWITTER FEED COMPONENTS-->
            <lw-feed></lw-feed>
            <rw-feed></rw-feed>
        </div>
    </section>
    <!-- .cd-section -->
</main>