
<form [formGroup]="loginForm" (ngSubmit)="doLogin($event)">
    <input formControlName="name" type="name" placeholder="Your Name">
    <input formControlName="password" type="password" placeholder="Your password">
    <input formControlName="password" type="password" placeholder="Same password">
    <br>
    <b>Question 1: Do you pick your nose?</b><br>
<input type="radio" name="q1" value="yes"> Yes <br>
<input type="radio" name="q1" value="no"> No <br>

<b>Question 2: Do you have any friends?</b><br>
<input type="radio" name="q2" value="yes"> Yes <br>
<input type="radio" name="q2" value="no"> No <br>

<b>Question 3: Is your hair styled in a fashionable way?</b><br>
<input type="radio" name="q3" value="yes"> Yes <br>
<input type="radio" name="q3" value="no"> No <br>

<b>Question 4: Can you dunk a basketball?</b><br>
<input type="radio" name="q4" value="yes"> Yes <br>
<input type="radio" name="q4" value="no"> No <br>

<b>Question 5: Do you get out much?</b><br>
<input type="radio" name="q5" value="yes"> Yes <br>
<input type="radio" name="q5" value="no"> No <br>
<b>Question 1: Do you pick your nose?</b><br>
<input type="radio" name="q1" value="yes"> Yes <br>
<input type="radio" name="q1" value="no"> No <br>

<b>Question 2: Do you have any friends?</b><br>
<input type="radio" name="q2" value="yes"> Yes <br>
<input type="radio" name="q2" value="no"> No <br>

<b>Question 3: Is your hair styled in a fashionable way?</b><br>
<input type="radio" name="q3" value="yes"> Yes <br>
<input type="radio" name="q3" value="no"> No <br>

<b>Question 4: Can you dunk a basketball?</b><br>
<input type="radio" name="q4" value="yes"> Yes <br>
<input type="radio" name="q4" value="no"> No <br>

<b>Question 5: Do you get out much?</b><br>
<input type="radio" name="q5" value="yes"> Yes <br>
<input type="radio" name="q5" value="no"> No <br>
  <button type="submit">Register</button>
</form>

