
<!--(keyup.enter)="doLogin(user, pass)"-->
    <input 
    [(ngModel)] = "username"
    
    type="text" 
    placeholder="Your Name"

    required>

    <input 
    [(ngModel)] = "pass"
    
    type="text" 
    placeholder="Your Password"
    
    required>
    <br>

<p>Survey here</p>
<ul>
<li *ngFor="let survey of questions">{{survey.name}}<br/>
    <input type="radio" name="q" value="1"> Yes <br>
<input type="radio" name="q" value="0"> No <br>
</li>
</ul>
  <button (click)="doLogin(username, pass)" >Register</button>


